@model IEnumerable<proj10_1.Models.Hang>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách hàng</h2>
@using (Html.BeginForm())
{
    <p>
        Tim mat hang: @Html.TextBox("SearchString")
        <input type="submit" value="Tim" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Mã hàng
        </th>
        <th>
            @Html.ActionLink("Tên hàng", "Index", new { sortOrder = ViewBag.SapTheoTen })
        </th>
        <th>
            @Html.ActionLink("Giá", "Index", new { sortOrder = ViewBag.SapTheoGia })
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @{
                    // Lay duong dan file anh
                    string ImagePath = "../../wwwroot/images/" + item.HinhAnh;
                }
                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                <br />
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.MaHang.Trim() }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaHang.Trim() })
            </td>
        </tr>
    }

</table>
