
@{
    ViewBag.Title = "Index";
}

<style>
    td {
        padding: 10px;
    }
</style>


<div>
    <h2>Registration Form</h2>
    @using (Html.BeginForm("Regis", "RegistrationForm"))
    {
        <table width="400px" border="1" cellpadding="5">
            <tr>
                <td>@Html.Label("First Name")</td>
                <td>@Html.TextBox("firstName")</td>
            </tr>
            <tr>
                <td>@Html.Label("Last Name")</td>
                <td>@Html.TextBox("lastName")</td>
            </tr>
            <tr>
                <td>@Html.Label("Email")</td>
                <td>@Html.TextBox("email")</td>
            </tr>
            <tr>
                <td>@Html.Label("Password")</td>
                <td>@Html.Password("password")</td>
            </tr>
            <tr>
                <td>@Html.Label("City")</td>
                <td>
                    @{
                        IEnumerable<string> strList = new List<string>
                                            { "Hanoi", "Danang", "TPHCM"};
                    }
                    @Html.DropDownList("city",
                   new SelectList(strList, strList.FirstOrDefault()))
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Gender")</td>
                <td>
                    @Html.RadioButton("gender", "Male") Male
                    @Html.RadioButton("gender", "Female") Female
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Save" /></td>
                <td><input type="reset" value="Cancel" /></td>
            </tr>

        </table>
    }
</div>