@model proj7_2.Models.Person
@{
    ViewBag.Title = "Regis";
}

<h2>Regis</h2>

<p>
    <b>
        @Html.DisplayNameFor(model => model.firstName):

    </b>
    @Html.DisplayFor(model => model.firstName)
</p>

<p>
    <b>
        @Html.DisplayNameFor(model => model.lastName):

    </b>
    @Html.DisplayFor(model => model.lastName)
</p>

<p>
    <b>
        @Html.DisplayNameFor(model => model.email):

    </b>
    @Html.DisplayFor(model => model.email)
</p>

<p>
    <b>
        @Html.DisplayNameFor(model => model.password):

    </b>
    @Html.DisplayFor(model => model.password)
</p>

<p>
    <b>
        @Html.DisplayNameFor(model => model.city):

    </b>
    @Html.DisplayFor(model => model.city)
</p>

<p>
    <b>
        @Html.DisplayNameFor(model => model.gender):

    </b>
    @Html.DisplayFor(model => model.gender)
</p>
